<header ng-controller="DayCtrl">
  <nav>
    <ul id="days">
      <li
      ng-repeat="day in days | orderBy:orderPropDay"
      ng-click="newFilter(day)"
      ng-class="{true:'selected'}[day.name==filterBy]"
      id="{{day.name}}"

      >
      {{day.id}}

      </li>
    </ul>
  </nav>
</header>
<div id="container">
  <ul id="bands">
    <li 
      id="t{{band.start | date : 'HHmm'}}"
      class="{{band.stage}}"
      ng-repeat="band in bands | orderBy:orderProp"
      ng-if="band.day == filterBy " >
        <a href="#/src/bands/{{band.id}}">  
          <h1>{{band.name}}</h1> 
          <p>{{band.start | date : 'HH:mm'}} - {{band.finish | date : 'HH:mm'}}</p>
        </a>

        <button ng-click="fav(band.id)">
          Favorite
        </button>
    </li>
  </ul>
</div>