@import "compass/reset";
@import "compass/css3";

$stageA : green;
$stageB : orange;
$stageC : blue;
$stageD : violet;
$secondary: yellow;


body{
    color: #666;
}

@mixin border($color){
    border-left: $color .7em solid;

}

header{
    position:fixed;
    top: 0px;
    background: white;
    width: 100%;
}

#container > * {
    margin-top: 5em;
}

#days li{
    @include box-sizing(border-box);
    border-right: 1px solid;
    display: inline-block;
    line-height: 5em;
    text-align: center;
    width: 33.3%;

    &:hover{
        font-weight: bold;
        cursor: pointer;
    }

    &:last-child{
        border-right: none;
    }

    &.selected{
        background: $secondary;
    }
}

#back-button{
    line-height: 5em;
}

#container{
    background: #4b4b4d;
    color: #ddd;
    text-align: center;

    #bands li{
    line-height: 2em;
    padding: 1em;
    border-radius: .3em;
    border-bottom: #333 1px solid;
    border-top: #ddd 1px solid;

    
    @include box-sizing(border-box);

        &.stageA{
            @include border($stageA);
        }
        &.stageB{
            @include border($stageB);
        }
        &.stageC{
            @include border($stageC);
        }
        &.stageD{
            @include border($stageD);
        }

        h1{
            text-align: center;
            font-size:1.2em;
        }

        a{
            text-decoration: none;
            color: #ddd;
            display: inline-block;

        }
    }
}

.detail-photo{
    display: block;
    width: 90%;
    margin: auto;
}

.tags{
    display: inline-block;
    color: #4b4b4d;
    background: #fff;
    padding: 4px;
    margin: 3px;                                
}

.fav-button{
    border-radius: 100%;
    border: solid $secondary 2px;
    background: none;
    width: 2rem;
    height: 2rem;
    float: right;
    text-indent: -9999px;

    &:hover{
        border: solid $secondary 4px;
    }

    &.active{
        border: none;
        background: $secondary;
    }
}

